.vs/
bin/
obj/
BOTB64.Client/bin/
BOTB64.Client/obj/
BOTB64.Shared/bin/
BOTB64.Shared/obj/
BOTB64.Server/bin/
BOTB64.Server/obj/
BOTB64.Editor/bin/
BOTB64.Editor/obj/
*.user
BOTB64.Client/data.b64
BOTB64.Client/data.zip
BOTB64.Client/normalized.zip